ion-content {
    ion-grid {
        background: #ffffffc7;
        margin-top: 10px;
        border-radius: 12px;
        ion-item {
            --background: transparent !important;
        }
    }
}
